# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!example.tfvars
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
provider.tf

# Ansible
*.retry
.vault_pass

# Credenciais
.oci/
.aws/
*.pem
*.key

# OS / Editor
.DS_Store
.vscode/settings.json
__pycache__/
*.pyc

# Env
.env
.env.local
